*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    line-height: 24px;
    color: white;
    background-color: #1D4ED8;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23.5px 60px;
}
.logo img{
    width: 100%;
}
.menu-items ul{
    display: flex;
    gap: 24px;
    list-style: none;
}
.menu-items a{
    text-decoration: none;
    font-size: 1rem;
    line-height: 25.6px;
    color: #575757;
}
.nav-btn{
    font-size: 1rem;
}
#banner{
    color: white;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.6)), url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
 .banner-content{
    padding-top: 130px;
    padding-bottom: 70px;
 }
 .banner-content h1{
    font-size: 5rem;
    font-weight: 900;
    line-height: 80px;
    margin-bottom: 16px;
 }
 .banner-content p{
    font-size: 1.4rem;
    line-height: 24px;
    margin-bottom: 250px;
 }
 .banner-btn{
    font-size: 1.5rem;
 }
 #speakers{
    margin: 80px auto;
    max-width: 1320px;
    padding: 0 20px;
 }
 #speakers h2{
    color: #000102;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 65px;
    text-align: center;
    margin-bottom: 50px;
 }
 .speaker-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
 }
 .card{
    border: 1px solid rgb(204, 196, 196);
    border-radius: 12px;
 }
 .card img{
    width: 100%;
    border-radius: 12px 12px 0 0;
 }
 .card-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
 }
 .card-content small{
    color: #2563EB;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 18px;
 }
 .card-content h3{
    color: #0D1B2A;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 28px;
 }
 .card-content p{
    color: #575757;
    font-size: 0.875rem;
    line-height: 21px;
 }
 #pricing{
    margin: 0 auto;
    padding: 0 60px 80px;
 }
 .pricing-heading, .pricing-subtitle{
    text-align: center;
 }
 .pricing-heading{
    color: #0D1B2A;
    font-size: 3rem;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 12px;
 }
 .pricing-subtitle{
    color: #575757;
    font-size: 1rem;
    line-height: 24px;
 }
 .pricing-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 1320px;
    margin: 48px auto 0;
}
 .pricing-card{
    border: 1px solid rgb(186, 184, 184);
    border-radius: 12px;
    padding: 32px;
    background-color: #F8F9FB;
 }
 .pricing-card h4, .pricing-card p{
    color: #888888;
    font-size: 0.8rem;
    line-height: 20px;
 }
 .pricing-card h4{
    font-weight: 600;
 }
 .pricing-card h1{
    font-size: 2.75rem;
    font-weight: 900;
    line-height: 44px;
 }
 .pricing-card p{
    margin-bottom: 20px;
 }
 .pricing-card ul li::marker{
    color: blue;
 }
 .pricing-card ul{
    padding: 20px;
    color: #333333;
    font-size: 0.875rem;
    line-height: 21px;
 }
 .pricing-card button{
    width: 100%;
    border: 1px solid #2563EB;
    border-radius: 8px;
    padding: 11px 0;
    text-align: center;
    color: #2563EB;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 21px;
    cursor: pointer;
 }
 .highlighted-card{
    background-color: #0D1B2A;
 }
 .highlighted-card h4{
    color: #93C5FD;
 }
 .highlighted-card h1{
    color: white;
 }
 .highlighted-card p{
    color: rgb(169, 169, 169);
 }
 .highlighted-card hr{
    border: 1px solid rgb(82, 81, 81);
 }
.highlighted-card ul{
    color: rgb(191, 186, 186);
}
.highlighted-card button{
    color: white;
    background-color: #2563EB;
}
.pricing-card .trd-btn{
    color: #0D1B2A;
    border-color: #0D1B2A;
}
footer{
    padding: 60px;
    background-color: #0D1B2A;
}
.top-row, .bottom-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.social-links{
    display: flex;
    gap: 24px;
}
.social-links a{
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}
footer hr{
    border: none;
    border-top: 1px solid rgb(152, 146, 146);
}
.bottom-row{
    margin-top: 32px;
    color: rgb(199, 198, 198);
    font-size: 1rem;
    line-height: 20px;
}
.support{
    display: flex;
    gap: 24px;
}
.support a{
    text-decoration: none;
    color: rgb(199, 198, 198);
}